<div class="">
   <h1 class="text-4xl font-extrabold text-gray-800 ">Live Cricket Score</h1>
    
   <div class=" items-stretch card-container flex-wrap flex">


    @for(match of liveMatches; track $index)
    {

         <div class="  hover:bg-gray-300 
         transition-all
           hover:scale-110
           rounded-xl  cursor-pointer hover:border-b-green-400 border-b-orange-600 card border p-4 bg-white shadow-lg  m-4  w-[30%]  ">
           <app-match-card [match]="match"></app-match-card>
         </div>

    }
    @empty {
        there is no match
    }

   </div>

    
</div>